.container {
  padding: 0;
}
.title {
  display: grid;
  margin-top: -140px;
}
.text {
  font-style: normal;
  color: var(--elements-text);
  text-transform: uppercase;
  font-size: calc(12vw + 1rem);
  font-weight: 800;
  line-height: calc(9vw + 1rem);
}
