.container {
  padding: 6rem 0;
  padding-bottom: 0;
  text-align: center;
}
.hero-text {
  font-size: calc(10vw + 1rem);
  text-transform: uppercase;
  color: var(--neutral);
  text-align: center;
  display: inline;
  font-weight: 900;
}
.span-text {
  color: var(--secondary-accent);
}
.span-text-frontend,
.span-text-backend,
.span-text-developer {
  color: var(--accent);
}
