@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /* colors */
  --base: #1a3c34;
  --accent: #ff5964;
  --secondary-accent: #c1ff72;
  --neutral: #a0a8a9;
  /* text sizes */
  --text-sm: clamp(0.8rem, 2vw, 1rem);
  --text-md: clamp(1rem, 3vw, 1.5rem);
  --text-lg: clamp(1.5rem, 4vw, 2.5rem);
  --text-xlg: clamp(3rem, 4vw + 1rem, 6rem);
}

[data-theme="dark"] {
  --base: #1a3c34;
  --accent: #ff5964;
  --secondary-accent: #c1ff72;
  --neutral: #a0a8a9;
}
html {
  font-size: 16px; /* Base size (1rem = 16px) */
}

body {
  background: var(--base);
  color: var(--neutral);
  font-family: "Inter", sans-serif;
}
